	<!-- [ navigation menu ] start -->
	<nav class="pc-sidebar ">
		<div class="navbar-wrapper">
			<div class="m-header">
				<a href="index.html" class="b-brand">
					<!-- ========  change your logo here ============ -->
					<img src="/static/images/logo-sm.svg" alt="" class="logo logo-lg">
					<img src="/static/images/logo-sm.svg" alt="" class="logo logo-sm">
				</a>
			</div>
			<div class="navbar-content">
				<ul class="pc-navbar">
					<li class="pc-item pc-caption">
						<label>Navigation</label>
					</li>
					<!-- <li class="pc-item">
						<a href="/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">home</i></span><span class="pc-mtext">Dashboard</span></a>
					</li> -->
					<!-- <li class="pc-item pc-caption">
						<label>Elements</label>
						<span>UI Components</span>
					</li> -->
					<!-- <li class="pc-item">
						<a href="/bc_typography.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">business_center</i></span><span class="pc-mtext">Typography</span></a>
					</li> -->
					<!-- <li class="pc-item">
						<a href="/icon-feather.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">history_edu</i></span><span class="pc-mtext">Icons</span></a>
					</li> -->
					<li class="pc-item pc-caption">
						<label>table</label>
					</li>
					<!-- <li class="pc-item">
						<a href="/tbl_bootstrap.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">table_rows</i></span><span class="pc-mtext">Bootstrap table</span></a>
					</li> -->
					<li class="pc-item pc-caption">
						<label>Scan Modules</label>
						<!-- <span>Tones of readymade charts</span> -->
					</li>
					<!-- <li class="pc-item">
						<a href="/chart-apex.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">bubble_chart</i></span><span class="pc-mtext">Chart</span></a>
					</li> -->
					<!-- <li class="pc-item">
						<a href="/map-google.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">my_location</i></span><span class="pc-mtext">Maps</span></a>
					</li> -->
					<!-- <li class="pc-item pc-caption">
						<label>Pages</label>
						<span>Redymade Pages</span>
					</li> -->
					<li class="pc-item pc-hasmenu">
						<a href="#!" class="pc-link"><span class="pc-item pc-caption">Authentication</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
						<ul class="pc-submenu">
							<li class="pc-item"><a class="pc-link" href="/auth-signup.html">Sign up</a></li>
							<li class="pc-item"><a class="pc-link" href="/auth-signin.html">Sign in</a></li>
						</ul>
					</li>

				<div class="card text-center">
					<div class="card-body">
						<i class="feather icon-rocket f-40"></i>
						<h6 class="mt-3">Need More?</h6>
						<a href=""
							target="_blank" class="btn btn-primary btn-sm text-white m-0">PRO Version</a> 
						<p>For more features and components</p>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
